#
# /etc/systemd/system/samplicator.service
#
# a startup file for samplicator. See INSTALL.md
#
# 19.4.2017, Ch. Bueche <bueche@netnea.com>
#

[Unit]
Description=Samplicator
After=network.target

[Service]
Type=forking
ExecStart=/usr/local/bin/samplicate -p ${samplicator_port} ${samplicator_arguments}

[Install]
WantedBy=multi-user.target
